html {
    font-family: sans-serif;

}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*transition: .5s ease-in-out;*/
}
body {
    font-family: "open_sansbold", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
a {
    text-decoration: none;
}

/*Preloader*/
.loaderArea {
    background: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}
.loader{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 98%;
    height: 50px;
    text-align: center;
}
.loader span{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    animation: loader 3s linear infinite;
    opacity: 0;
}
.loader span:nth-child(1){
    animation-delay: .3s;
    background:#00c2ff;
}
.loader span:nth-child(2){
    animation-delay: .2s;
    background:#ffe837;
}
.loader span:nth-child(3){
    animation-delay: .1s;
    background:#ff1b78;
}

/*github-right*/
/*.github-right {*/
    /*!*display: none;*!*/
    /*position: fixed;*/
    /*right: -50px;*/
    /*top:25px;*/
    /*background: #fff;*/
    /*color: #ccc;*/
    /*text-decoration: none;*/
    /*font-size: 21px;*/
    /*padding: 10px 55px;*/
    /*box-shadow: 0 0 20px rgba(0,0,0,0.5);*/
    /*z-index: 3;*/
    /*transform: rotateZ(45deg);*/
    /*-webkit-transform: rotateZ(45deg);*/
    /*-moz-transform: rotateZ(45deg);*/
    /*-o-transform: rotateZ(45deg);*/
    /*-ms-transform: rotateZ(45deg);*/
    /*-webkit-transition: background 500ms ease, color 200ms ease;*/
    /*-moz-transition: background 500ms ease, color 200ms ease;*/
    /*-ms-transition: background 500ms ease, color 200ms ease;*/
    /*-o-transition: background 500ms ease, color 200ms ease;*/
/*}*/
/*.github-right:hover {*/
    /*background: #D4CFC9;*/
    /*color: #CC3333;*/
/*}*/

/*Hello-block*/
.hello-wrapper {
    background: #222 url("../images/background cover-hello.png")  no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    z-index: 2;
}
@media screen and (max-device-width: 1024px){
    .hello-wrapper {
        background-attachment: scroll
    }
}
.hello-wrapper::after {
    content: '';
    background: url("../images/overlay.png") repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.preface {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #fff;
    padding: 0 15px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    /*animation: zoomIn 1.5s;*/
    z-index: 2;
}
.text-preface {
    font-family: 'open_sansbold', Arial, sans-serif;
   font-size: 16px;
    margin: 15px 0;
    text-transform: none;
}

.title-preface {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 5px 0 5px;
    line-height: 1.1;
    text-transform: uppercase;
}
.scroll-bottom {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: -15px;
    z-index: 2;
    text-align: center;
}
.scroll-bottom-icon {
    position: relative;
    color: #fff;
    animation: scroll-bottom 1s, linear,infinite,running;
    -webkit-animation-name: scroll-bottom;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}
.scroll-bottom:hover .scroll-bottom-icon  {
    color: #CC3333;
}

/*Navigation*/
.header {
    width: 100%;
    background: white;
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
    padding: 10px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 15;
}
.header::after {
    content: "";
    display: table;
    clear: both;
}
.nav {
    width: 100%;
    padding: 0 20px;
}
.nav::after{
    content: "";
    display: table;
    clear: both;
}
.name-logo {
    display: block;
    float: left;
    text-transform: uppercase;
    font-family: "evolventaregular", Arial, sans-serif;
    color: #222;
    font-size:22px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 40px;
}


/*burger-menu*/
.nav-toggle{
    display: none;
    position: absolute;
    float: right;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 90%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.hamburger {
    width: 50px;
    height: 5px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 10px 50px rgba(0,0,0,.2);
    transition: .5s;
}
.hamburger:before,
.hamburger:after{
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background: black;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}
.hamburger:before{
    top: -10px;
}
.hamburger:after{
    top: 10px;
}
.nav-toggle.active .hamburger{
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}
.nav-toggle.active .hamburger:before{
    top: 0;
    transform: rotate(45deg);
}
.nav-toggle.active .hamburger:after{
    top: 0;
    transform: rotate(135deg);
}

/*-menu*/
.block-menu {
    float: right;
    padding: 0;
    margin: 0;
}
.block-menu.responsive-menu {
    max-height: 200px;
    transition: 1s ease-in-out;
}
.block-menu li {
    display: inline-block;
    margin-right: 30px;
}
.block-menu li:last-child {
    margin-right: 0;
}
.menu-items {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1em;
    text-shadow: 0 0 1px rgba(111,134,134,0.3);
    line-height: 40px;
}
.block-menu a::before {
    color: #CC3333;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    /* transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg); */
    -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
    -moz-transition: -moz-transform 0.5s, opacity 0.3s;
    transition: transform 0.5s, opacity 0.3s;
    pointer-events: none;
}
.block-menu a:hover::before,
.block-menu a:focus::before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}
.active {
    color: #CC3333;
}
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .header {
        padding: 10px 0;
    }
    .block-menu {
        max-height: 0;
        background: white;
        float: none;
        position: absolute;
        overflow: hidden;
        top: 60px;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 2;
    }
    .block-menu li {
        display: block;
        text-align: center;
        margin-right: 0;
    }
}

/*section - portfolio*/
.main {
    padding: 80px 0 80px;
}
.bg{
    background: #f5f5f5;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.description-block {
    text-align: center;
    padding-bottom: 60px;
}
.title-block {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.title-block span {
    color: #CC3333;
}
.line-block {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 25px auto;
}
.block-text {
    font-size: 15px;
}


/*filter - portfolio*/
.portfolio-filter {
    margin-bottom: 50px;
    text-align: center;
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
}

.btn {
    outline: none;
    border: 2px solid #CCC;
    cursor: pointer;
    width: 150px;
    padding: 15px;
    background: #fff;
    color: #5f5f5f;
    font-size: 14px;
    font-family: "open_sansbold", Arial, sans-serif;
    line-height: 1.42857143;
    margin-right: 7px;
    text-align: center;
    -webkit-transition: background 500ms ease, color 200ms ease;
    -moz-transition: background 500ms ease, color 200ms ease;
    -ms-transition: background 500ms ease, color 200ms ease;
    -o-transition: background 500ms ease, color 200ms ease;
}

.btn-active {
    background: #D4CFC9;
    color: #CC3333;
}

.btn:hover {
    background: #D4CFC9;
    color: #CC3333;
}

/*project - block - portfolio*/
.project {
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
    /*justify-content: center;*/
}
@media (max-width: 768px) {
    .project {
        flex-direction: column;
        justify-content: center;
    }
}

.projects-items {
    position: relative;
    width: 33.333333%;
    overflow: hidden;
    cursor: pointer;
}
@media (max-width: 768px) {
    .projects-items {
        width: 100%;
    }
    .projects-items img{
        margin: 0 auto;
    }
}
.projects-items img {
    max-width: 100%;
    display: block;
    /*filter: grayscale(100%);*/
}
.projects-items h2 {
    color: #fff;
    padding-top: 10%;
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.projects-items a {
    display: block;
}
.siteLink {
    padding-top: 50px;
}
.siteLink a {
    font-size: 15px;
    color: black;
    padding: 5px;
}
.siteLink a:hover {
    color: #CC3333;
}
.scale-anm {
    transform: scale(1);
}


/*project - hover - portfolio*/
.caption-effect {
    position: absolute;
    top: 0;
    left: 100%;
    background: #CC3333;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 1, 1) 0s;
    -ms-transition: all 0.4s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1) 0s;
}
.icon-caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border: solid #CC3333;
}
.icon-caption a {
    color: #FFFFFF;
    font-size: 23px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.icon-caption a:hover{
    color: #CC3333;
    background: #FFFFFF;
    border-radius: 50%;
}
.caption-effect h4 {
    font-size: 1.5vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10%;
}

.caption-effect p {
    margin: 10% 0;
    font-style: italic;
    padding: 0 10px;
    font-size: 1vw;
}
.caption-effect-link {
    border: 2px solid #FFFFFF;
    width: 35%;
    color: #FFFFFF;
    padding: 10px 0;
    border-radius: 5px;
    margin: 0 auto;
}

.projects-items .caption-effect-link:hover{
    border: 2px solid #5f5f5f;
}
.projects-items:hover .caption-effect {
    left: 0;
}
@media (max-width: 768px) {
    .caption-effect h4 {
        font-size: 21px;
    }
    .caption-effect p{
        font-size: 14px;
    }
}

/*section - skills*/

#skills {
}
.skills-block {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 768px) {
    .skills-block {
        flex-direction: column;
    }
    .skills-block h2 {
        position: static!important;
        margin: 20px;
    }
    .ability-block {
        width: 80%!important;
        margin: 0 auto;
    }
}
.skills-block h2 {
    position: absolute;
    top: 30%;
    font-family: 'open_sanslight', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    letter-spacing: .01em;
    line-height: 1.4em;
}
.ability-block {
    width: 30%;
}
.ability-block h3 {
    margin-bottom: 10px;
}
.ability-block ul {
    list-style-type: none;
}
.ability-block ul li {
    padding: 5px 0;
}
.ability-block ul li:hover {
    background: #F2F2F2;
}
.ability-block ul li:hover .ability-stars span {
    margin-left: 2px
}
hr {
    margin: 25px;
}
.ability-name {
    width: 20%;
    position: relative;
}
.ability-title {
    display: inline-block;
    width: 50%;
    font-family: 'open_sanslight', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}
.ability-stars {
    float: right;

}
.ability-stars span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.ability-stars span i {
    color: #CC3333;
}

/*section - resume*/
.profile-block {
    display: flex;
    max-width: 1280px;
    padding: 0 100px;
    margin-bottom: 50px;
}
.profile-block div {
    width: 33.33333333%;
    padding: 0 10px;
}
.profile-block  h3 {
    font-size: 28px;
    color: #CC3333;
    margin: 20px 0;
    font-style: italic;
}
.profile-block p {
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    line-height: 2;
}
.myPhoto {
    text-align: center;
}
.myPhoto img {
    border-radius: 50%;
    border: 5px #ccc solid;
    width: 100%;
    max-width: 246px;
    height: auto;
}
.myPhoto img:hover {
}
@media (max-width: 992px) {
    .profile-block {
        flex-direction: column;
        padding: 0;
    }
    .profile-block div {
        width: 100%;
        padding: 0;
        margin-top: 20px;
        text-align: center;
    }
}

/*@media (max-width: 768px) {*/
    /*.profile-block {*/
        /*flex-direction: column;*/
        /*padding: 0;*/
    /*}*/
    /*.profile-block div {*/
        /*width: 100%;*/
        /*padding: 0;*/
        /*text-align: center;*/
    /*}*/
/*}*/

.resume-download {
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    text-transform: uppercase;
    text-align: center;
}
.btn-resume {
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #D4CFC9;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}
.btn-resume::before {
    content: "";
    background: #D4CFC9;
    width: 0;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}
.btn-resume:hover::before{
    width:100%;
}
.btn-resume:hover {
    color: #CC3333;
}

/*section - contact*/
.bg-contact {
    background: #222;
    color: #FFFFFF;
}
.contact-block {
    display: flex;
    justify-content: center;
}
.social-link {
    display: flex;
    padding: 0;
}
@media (max-width: 768px) {
    .social-link  {
        display: inline-block;
    }
}
.social-link li{
    list-style: none;
    margin: 0 6px;
}
.social-link li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 35px;
    transition: .5s;
}

.social-link li:nth-child(1) a {
    color: #FFFFFF;
}
.social-link li:nth-child(2) a {
    color: #dd4b39;
}
.social-link li:nth-child(3) a {
    color: #55acee;
}
.social-link li:nth-child(4) a {
    color: #00E676;
}
.social-link li a:hover{
    color: #fff;
    z-index: 5;
}
.social-link li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: .5s cubic-bezier(.95,.32,.37,1.31);
}
.social-link li a:hover:before{
    transform: scale(1);
}
.social-link li:nth-child(1) a:hover:before{
    background: #999999;
}
.social-link li:nth-child(2) a:hover:before{
    background: #dd4b39;
}
.social-link li:nth-child(3) a:hover:before{
    background: #55acee;
}
.social-link li:nth-child(4) a:hover:before{
    background: #00E676;
}

/*footer*/
.main-footer {
    padding: 80px 0 10px 0;
}
.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.copyright a {
    color: #428bca;
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}
.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(235, 235, 235, .8);
    color: #CC3333;
}




