* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Roboto Slab", Arial;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
}
.content {
    width: 100%;
    background: url(../img/bg.jpg) 50% 30%;
}
.info {
    width: 100%;
    background-color: #373737;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.slider {
    position: relative;
}
.slider-title {
    font-size: 22px;
    color: #c78030;
}
.slider-title:after {
    content: '';
    display: block;
    width: 10%;
    height: 1px;
    background-color: #c78030;
    margin-top: 4px;
}
.wrap {
    width: 100%;
    position: relative;
}
.slider-item {
    width: 80%;
    margin: 20px auto 0;
    position: relative;
}
.slider-item img {
    width: 100%;
}
.prev {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 90px;
    left: 10%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 100%;
}
.prev:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.prev:hover .arrow-left {
    opacity: 1;
}
.arrow-left {
    width: 30px;
    height: 30px;
    background: url(../img/icons/left-arrow.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    opacity: .4;
    -webkit-transition: 1s;
    transition: 1s;
}
.next {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 90px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 100%;
    right: 10%;
}
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.next:hover .arrow-right {
    opacity: 1;
}
.arrow-right {
    width: 30px;
    height: 30px;
    background: url(../img/icons/right-arrow.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    opacity: .4;
    -webkit-transition: 1s;
    transition: 1s;
}
.slider-dots {
    width: 90%;
    margin: 10px auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 10px;
    background-color: #c78030;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}
.dot-active {
    background-color: #000;
    height: 18px;
    width: 18px;
}


